.arrival h6{
    color: #DB4444;
    position: relative;
    display: flex;
    align-items: center;
}
.arrival h6::before{
    content: "";
    position: absolute;
    left: -25px;
    height: 40px;
    width: 20px;
    border-radius:4px ;
    background-color: #DB4444;
}

