ul{
    list-style: none;
}

.w-cr{
    width: 50px;
}
.cursor{
    cursor: pointer !important;
}
.active{
    border-bottom:1px solid #ddd  !important;
}
.color-orange{
    color:#DB4444;
}

.vertical{
    vertical-align: middle;
}

.icon-orange{
    background-color: #DB4444;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.del{
    text-decoration: line-through;
}
.rating{
    color: #FFAD33;
}
.fs-12{
    font-size: 12px;
}
.login .form-control ,.singup .form-control {
    /* display: block; */
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border:none;
    border-bottom:1px solid #D9DBE9 !important;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input::placeholder{
    color: #A0A3BD !important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}
.bg-orange{
    background-color: #DB4444;
    color: #fff;
    width: 200px;
    transition: all 1s;
}
.bg-orange:hover{
    background-color: #fff;
    border: 1px solid #DB4444;
    
}
.text-orange{
    color:#DB4444;
    margin: 0 0 0 2px;
}

.footer-input {
    border: 2px solid #fff;
    border-color: #fff !important;
}
.footer-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    flex-grow: 1; 
  }
.control{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border:none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.social{
    width: 200px;
}
.copyright{
    color: #4E4B66;
}
.banar-text{
    margin: auto;
    transition: all 3s ease;
}
.banar-text li:hover{
    transform: translateX(15px);
}


.add-cart{
    visibility: hidden;
    transition: all 1s;
}

.card-prod:hover .add-cart{
    visibility: visible;
    transform: translateY(-10px);
}
.radio{
    background: rgb(22,22,23);
background: linear-gradient(90deg, rgba(22,22,23,1) 41%, rgba(57,57,59,1) 58%, rgba(117,120,121,1) 100%);
}
.radio h6{
    color: #00FF66;
}
.radio .btn{
    background-color:#00FF66 ;
}
.color-green{
    color: #00FF66;
}
.circle-radio{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.icon-service{
    width:80px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-service i{
    width:70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    transition: all 1s;
}
.service-card:hover i{
    color: #000;
}
.bg-black{
    transition: all 1s;
}
.service-card:hover .bg-black{
    background-color: #fff !important;
}
.service-card{
    transition: all 1s;
}
.service-card:hover{
    background-color: #DB4444;
    color: #fff;
}
 .bg-secondary-subtle{
    background-color: #F5F5F5 !important;
    border: none !important;
}
.loading{
    background-color: rgba(134, 182, 254,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 9999;
}
input[type='radio']{
    width:24px;
    height:24px;
    border-color:#000 !important ;
}
input[type='radio']:nth-child(2){
    background-color: #E07575 !important;
}
input[type='radio']:nth-child(3){
    background-color: #7290b8 !important;
}
.size{
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.count{
    border: .5px solid #abadbd;
    width: 150px;
    margin-top: 10px;
}
.count .btn{
    border-radius: 0 !important;
    transition: all 1s;
    font-size: 20px;
}
.count .btn:nth-child(1){
    border-right: 1px solid #abadbd;
}
.count .btn:nth-child(3){
    border-left: 1px solid #abadbd;
}
.count .btn:hover{
    background-color: #DB4444 !important;
    color: #fff;
}
.forgetPass{
    background-image: url('./assets/Shapes.png');
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
}